@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{background:#fff;color:#333;font-size:12px; font-family:"SimSun","宋体","Arial Narrow";} 
 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link{color:#009;} 
a:visited{color:#800080;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;} 



.container{
	background-color:#f6f6f6;
	height:100%;}
	
	
/*header*/
header{
	height:5em;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
	background: -webkit-linear-gradient(top, #e8543f, #d9331a);
	background: -moz-linear-gradient(top, #e8543f, #d9331a);
	background: -o-linear-gradient(top, #e8543f, #d9331a);
	background: linear-gradient(top, #e8543f, #d9331a);
	background-color: #e54028;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #e54028;
	border-color: #c22d18;
	border-bottom: 6px solid #fff;
	position: fixed;
	top: 0px;
	z-index: 5;
	opacity: 0.97;
	width:100%;

}

.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
	list-style-type:none;
}
.top-nav ul li a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:2em;
	color: #fff;
	padding: 20px;
	display: block;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav li.active> a, .top-nav li> a:hover {
	border-bottom: 8px solid #fff;
	color: #fff;
}
/*---End-header---*/



/*----footer----*/
footer{
	width:100%;
	text-align:center;
	padding:10px;
	background: #DC3D25;
	position:relative;
	bottom:0px;
}
footer p{
	color: #FFF;
	font-size:1.5em;
	text-transform: uppercase;
}
footer p a{
	color:#222;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
footer p a:hover{
	color:#fff;
}